.slider{
    width:100%;
    height:250px;
    overflow:hidden;
}

.slides{
    display:flex;
    animation:slider 9s infinite;
}

.slides img{
    flex:0 0 100%;      /* Each image occupies the full slider width */
    width:100%;
    height:250px;
    object-fit:cover;
}

@keyframes slider{

0%{
transform:translateX(0);
}
30%{
transform:translateX(0);
}
35%{
transform:translateX(-100%);
}
65%{
transform:translateX(-100%);
}
70%{
transform:translateX(-200%);
}
100%{
transform:translateX(-200%);
}

}