/*      OFFER BANNER*/
.offer-banner{

    background:white;
    color:#333;
    text-align:center;
    padding:15px;
    font-size:18;
    font-weight:bold;
    animation:flash 1s infinite alternate;
      overflow:hidden;
padding:10px 0;
margin-top: 120px;
}

@keyframes flash{
    from{
        color:#333;
    }
    to{
        color:blue;
    }
}

